# General Python
__pycache__/
*.pyc
.venv/
.mypy_cache/
.pytest_cache/
.DS_Store

# IDEs
.vscode/

# Build and Packaging
dist/
build/
*.egg-info/

# MLOps Artifacts (CRITICAL: Secret and Large Files)
keys/
secrets/
*.env
*.key
*.pem
*.pkl
*.h5
*.onnx
*.pt
/data/ # DVC should track this, not Git
/models/
/wandb/
.dvc/
.github/workflows/ci.yml
