repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-added-incremental-files
- repo: https://github.com/psf/black
  rev: 24.10.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
    - id: isort
- repo: https://gitlab.com/pycqa/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
- repo: https://github.com/PyCQA/bandit
  rev: 1.8.1
  hooks:
    - id: bandit
      args: ["-r", "src"]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.8.0 # Use a stable version for mypy
  hooks:
    - id: mypy
      args: ["--ignore-missing-imports"]
      additional_dependencies: ["pydantic", "fastapi", "torch"]
